%h1 Things To Do

= link_to 'New Todo', new_todo_path, :'data-pjax' => '#content'

- @todos.each do |todo|
  %ul#todos
    %li{ :'data-id' => todo.id }
      = best_in_place todo, :completed, :type => :checkbox,
        :collection => [ '|_|', '|x|']
      = link_to todo.title, todo, :'data-pjax' => '#info'
