/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

.best_in_place {
  cursor: pointer;
}

.wrapper.container {
  margin-top: 75px;
  margin-bottom: 25px;
}

  .wrapper.container h1 {
    margin: 0 0 25px 0;
  }

#info {
  display: none;
  padding: 10px;
  background: #eeeeee;
}

ul#todos {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

  ul#todos li.selected {
    margin-right: -20px;
    background: #eeeeee;
  }

  ul#todos li span.best_in_place {
    display: inline-block;
    width: 20px;
  }
